/* CSS by ///ADD/// YOUR NAME */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Root Variables */
:root {
    --blue-bulletin: #1D3557;
    --news-flash: #E63946;
    --watchdog-white: #F1FAEE;
    --truth-text: #333;
    --story-subtitle: #457B9D;
    --font-body: "Source Sans 3", sans-serif;
    --font-heading: 'Merriweather', serif;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    --transition: all 0.5s ease;
    --max-width: 1200px;
    --inner-width: 1024px; 
}

* { box-sizing: border-box; }

/* Manual Light/Dark Mode Styles*/
body.light-mode {
    background-color: var(--watchdog-white);
    color: var(--truth-text);
}

body.dark-mode {
    background-color: var(--truth-text);
    color: var(--watchdog-white);
}

#theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--watchdog-white);
    border: 1px solid var(--blue-bulletin);
    border-radius: 1.5rem;
    cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skipLink {
    position: absolute;
    visibility: hidden;
    top: -1000px;
    background-color: var(--news-flash);
    color: var(--watchdog-white);
}

.skipLink:focus-visible {
    visibility: visible;
    top: 0;
}
/* ///ADD/// Navigation Styles */
header {
    background-color: var(--blue-bulletin);
    color: var(--watchdog-white);
    padding: 2em;
    margin: auto;
    max-width: var(--max-width);
    position: relative;
}

header h1 {
    font-size: 4em;
    max-width: var(--inner-width);
    margin: auto;
}

header p {
	max-width: var(--inner-width);
	margin: auto;
}

nav {
	max-width: var(--inner-width);
	margin: auto;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: var(--watchdog-white);
    background-color: var(--news-flash);
    font-family: var(--font-body);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
    padding: 0.5em;
    margin-right: 1em;
    border: solid 1px var(--news-flash);
    transition: var(--transition);
}

nav a:hover {
	background-color: var(--blue-bulletin);
}

.menu-button {
    display: none;
}
/* ///ADD/// Global Layout Styles */
body {
    background-color: var(--watchdog-white);
}

main {
    margin: auto;
    max-width: var(--max-width);
    padding: 2em;
}

#news {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#news section {
	transition: var(--transition);
}

#news section:hover {
	transform: scale(1.05);
}

#section1 {
    grid-column: 1/2;
    margin-right: 1em;
    background-color: var(--news-flash);
    border: 1px solid var(--truth-text);
    box-shadow: var(--shadow);
    padding: 1em;
    margin-right: 1em;
}

#news section video {
    width: 100%;
    height: auto;
}

#section2 {
    grid-column: 2/2;
    background-color: var(--news-flash);
    border: 1px solid var(--truth-text);
    box-shadow: var(--shadow);
    padding: 1em;
    margin-left: 1em;
}

#news section h3 {
	font-size: 1.2em;
	border-bottom: solid 1px var(--watchdog-white);
	margin-bottom: 0.5em;
}

#articles {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#articles article {
    border: 1px solid var(--story-subtitle);
    box-shadow: var(--shadow);
    padding: 1em;
    margin: 1em;
    transition: var(--transition);
}

#articles article h3 {
	font-size: 1.1em;
	border-bottom: solid 1px var(--story-subtitle);
	line-height: 1.5;
	margin-bottom: 0.5em;
}

#articles article:hover {
	transform: scale(1.05);
}

#article1, #article4, #article7, #article10 {
    grid-column: 1/1;
}

#article2, #article5, #article8, #article11 {
    grid-column: 2/2;
}

#article3, #article6, #article9, #article12 {
    grid-column: 3/3;
    margin-right: 0em;
}

#article10, #article11, #article12 {
    margin-bottom: 0em !important;
}



form {
	background-color: var(--news-flash);
	padding: 1em;
	border: solid 1px var(--story-subtitle);
	box-shadow: var(--shadow);
	color: var(--watchdog-white);
	font-family: var(--font-body);
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	margin: 0.5em;
}

form input{
	height: 2em;
	width: 100%;
}

form fieldset {
	grid-column: 1/3;
	border: solid 1px var(--blue-bulletin);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.5em;
	padding: 0.5em;
}

form fieldset legend {
	text-transform: uppercase;
	margin-left: 1em;
}

.column1 { grid-column: 1/1; }
.column2 { grid-column: 2/2; }
.column3 { grid-column: 3/3; }

input[type="checkbox"] {
	height: 1.5em;
	width: 1.5em;
    accent-color: var(--blue-bulletin);
}


#subscribeBtn {
	appearance: none;
	background-color: var(--blue-bulletin);
	color: var(--watchdog-white);
	grid-column: 1/3;
	height: 3em;
	text-transform: uppercase;
	font-size: 1.1em;
}

footer {
	background-color: var(--blue-bulletin);
	color: var(--watchdog-white);
	padding: 1em;
	max-width: var(--max-width);
    margin: auto;
    padding-left: 5em;
}

/* ///ADD/// Global Text Styles */
h1, h2, h3 {
    font-family: var(--font-heading);
    font-weight: 300;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

p {
    font-family: var(--font-body);
    font-weight: 300;
}

.tagline {
    font-size: 1.1em;
    font-family: var(--font-heading);
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

blockquote.tagline {
    text-align: center;
    font-weight: 700;
}

#news h3, #news p {
    color: var(--watchdog-white);
}

footer h2 {
	max-width: var(--inner-width);
	margin: 1em auto 0.5em auto;
}

#social {
	max-width: var(--inner-width);
	margin: auto;
}

footer a {
    text-decoration: none;
    color: var(--watchdog-white);
    background-color: var(--news-flash);
    font-family: var(--font-body);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.5em;
    margin-right: 1em;
    border: solid 1px var(--news-flash);
    transition: var(--transition);
}

footer p {
	text-align: center;
	max-width: var(--inner-width);
	margin: auto;
	margin-top: 2em;
}


/* ///ADD/// medium styles 620px */
@media screen and (max-width: 620px) {
	#news { 
        grid-template-columns: 1fr; 
    }

	#section1, #section2 { 
        grid-column: 1/1; margin: 0.5em 0; 
    }
	
    #articles { 
        grid-template-columns: 1fr; 
    }
	
    #articles article { 
        grid-column: 1/1 !important; 
    }
	
    form { 
        grid-template-columns: 1fr; 
    }
	
    form fieldset { 
        grid-template-columns: 1fr; grid-column: 1/1; 
    }
	
    .column1, .column2, .column3 { 
        grid-column: 1/1 !important; 
    }
	
    .menu-button { 
        display: block; 
        background-color: var(--news-flash); 
        color: var(--watchdog-white); 
        text-transform: uppercase; 
        font-family: var(--font-body); 
        text-align: center; 
        padding: 0.5em; 
    }
	
    nav .menu { display: none; }
	
    nav li {
		display: block;
		width: 100%;
	}
	
	nav a {
		width: 100%;
		text-align: center;
		display: block;
	}
}

/* ///ADD/// large styles 920px */
@media screen and (max-width: 920px) and (min-width: 621px) {
    #articles { 
        grid-template-columns: 1fr 1fr; 
    }
    
    #article1, #article3, #article5, #article7, #article9, #article11 { 
        grid-column: 1/1; 
    }
    
    #article2, #article4, #article6, #article8, #article10, #article12 { 
        grid-column: 2/2; 
    }
    
    form {
        grid-template-columns: 1fr 1fr; 
    }
    
    form fieldset { grid-template-columns: 1fr 1fr; grid-column: 1/3; }
}

/* ///ADD/// x-large styles 1024px */
@media screen and (max-width: 1024px) and (min-width: 921px) {
    #section1 h3{
        font-size: 0.9em;
        margin-bottom: 0.5em;
        border-bottom: 1px solid var(--watchdog-white);
    }

    #section1 p{
        font-size: 0.8em;
    }

    #section2 h3{
        font-size: 0.9em;
        margin-bottom: 0.5em;
        border-bottom: 1px solid var(--watchdog-white);
    }

    #section2 p{
        font-size: 0.8em;
    }
}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
    nav:has(#menu-toggle:checked) .menu {
    	display: block;
    }
}